@font-face {
    font-family: 'Chakra Petch';
    src: local("Chakra Petch"), url("../fonts/ChakraPetch-Bold.woff2") format("woff2"),
        url("../fonts/ChakraPetch-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: local("Chakra Petch"), url("../fonts/ChakraPetch-Medium.woff2") format("woff2"),
        url("../fonts/ChakraPetch-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}



