@media (max-width: 1511px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 1000px) {
    .header {
        &__logo {
            z-index: 5;
        }
        &__menu {
            position: fixed;
            width: 100%;
            // height: 100%;
            margin-top: 270px;
            display: flex;
            flex-direction: column;
            

        }
        &__menu-list {
            position: absolute;
            z-index: 5;
            background-color: $default;
            flex-direction: column;
            align-items: center;
            top: -90px;
            left: -100px;
            right: 0;
            bottom: 0;
            height: 100vh;
            transform: translateY(-400px);
            transition: transform 0.3s ease;
            overflow: auto;
        }
        &__menu-item {
            margin-bottom: 30px;
        }
        &__menu-link {
            margin-left: 5px;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 10;
            cursor: pointer;
        }
        &__burger span {
            position: absolute;
            background-color: $accent;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all .3s ease;
        }
        &__burger::before,
        &__burger::after {
            content: "";
            background-color: $accent;
            position: absolute;
            width: 100%;
            height: 2px;
            transition: all .3s ease;
        }
        &__burger::before {
            top: 0;
        }
        &__burger::after {
            bottom: 0;
        }
    }
    .header__menu-list.header__menu-list--active {
        transform: translateY(0);
        transition: transform 0.3s ease;
    }
    .header__burger.header__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.header__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.header__burger--active span {
        display: none;
    }
    body.body--active{
        overflow: hidden;
    }
    
}
