$accent: #FFFFFF;
$default: #000000;


%inter-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
%inter-600 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
%inter-500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
%inter-400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
%inter-300 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}




%playFair-700 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
%playFair-400 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}




