@import "vars";
@import "fonts";
@import "reset";
@import "global";

// <------------- HEADER ------------->

.header {
    padding: 20px 0;
    background-color: $default;

    &__burger{
        display: none;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-top: 5px;
    }
    &__logo svg {
        fill: #fff;
        width: 40px;
        height: 40px;
    }
    &__menu-list {
        display: flex;
    }
    &__menu-link {
        display: inline-block;
        color: $accent;
        margin-left: 55px;
        text-transform: uppercase;
        text-decoration: none;
    }
    &__menu-link::after {
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background-color: $accent;
        transition: width 0.3s;
    }
    &__menu-link:hover::after { 
        width: 100%;
        transition: width 0.3s;
    }
}

// <------------- PROMO ------------->

.promo {
    padding: 220px 0 220px;

    &__inner {
        position: relative;
        max-width: 1512px;
        min-height: 600px;
        margin: 0 auto;
        padding: 0 180px;
        background-image: url(../images/promo/bg1.jpg), url(../images/promo/bg2.jpg);
        background-repeat: no-repeat;
        background-position: right top, left bottom;
        background-size: 470px;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 29px;
        @extend %inter-500;
        max-width: 680px;
        margin-bottom: 50px;
    }
    &__title {
        font-size: 280px;
        line-height: 230px;
        padding-bottom: 100px;
        @extend %playFair-700;
        text-align: center;
        padding-bottom: 100px;
    }
    &__btn {
        width: 190px;
        height: 65px;
        background-color: $accent;
        font-size: 28px;
        @extend %inter-600;
        border: 2px solid transparent;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        left: 600px;
        transition: all 0.5s;
    }
    &__btn:hover {
        color: $accent;
        background-color: $default;
        border: 2px solid $accent;
        transition: all 0.5s;
        transform: scale(1.1);
    }
}

// <------------- PORTFOLIO ------------->

.portfolio {
    padding-bottom: 220px;
    &__title {
        font-size: 80px;
        line-height: 100px;
        @extend %playFair-400;
        text-align: center;
        margin-bottom: 80px;
    }
    &__table {
        columns: 2;
    }
    &__table-img {
        break-inside: avoid-column;
        padding-bottom: 25px;
        transition: 0.2s;
    }
    &__table-img:hover {
        break-inside: avoid-column;
        padding-bottom: 25px;
        transform: scale(1.03);
        transition: 0.2s;
    }
}

// <------------- ABOUT ------------->

.about {
    padding-bottom: 220px;
    &__title {
        font-size: 80px;
        line-height: 100px;
        @extend %playFair-400;
        text-align: center;
        margin-bottom: 60px;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__text {
        font-size: 30px;
        line-height: 35px;
        margin-right: 70px;
        p {
            margin-bottom: 40px;
        }
    }
}

// <------------- TESTIMONIALS ------------->

.testimonials {
    padding: 220px 0;
    &__title {
        font-size: 80px;
        line-height: 100px;
        @extend %playFair-400;
        text-align: center;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-size: 22px;
        text-align: center;
        max-width: 1100px;
        margin: 0 auto 100px;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    }
    &__card {
        display: flex;
        margin: 0 auto 50px;
    }
    &__card-img {
        order: 2;
    }
    &__card-info {
        order: 1;
        padding: 40px;
        width: 100%;
        background-color: #181818;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card-title {
        font-size: 44px;
        line-height: 44px;
        @extend %inter-600;
        margin-bottom: 30px;
    }
    &__card-subtitle {
        font-size: 15px;
        line-height: 18px;
        @extend %inter-300;
        margin-bottom: 50px;
    }
    &__card-link {
        font-size: 16px;
        line-height: 20px;
        @extend %inter-500;
        color: $accent;
        transition: all 0.5s;
        position: relative;
    }
    &__card-link svg {
        position: absolute;
        bottom: -1;
        left: 130px;
    }
    &__card-link:hover svg {
        transform: scaleX(-1.05);
        transition: all 0.5s;
    }

    &__btn {
        display: block;
        width: 220px;
        height: 75px;
        margin: 0 auto;
        font-size: 22px;
        line-height: 26px;
        @extend %inter-600;
        color: $accent;
        background-color: $default;
        border: 2px solid $accent;
        transition: all 0.5s;
        cursor: pointer;
    }
    &__btn:hover {
        color: $default;
        background-color: $accent;
        border: 2px solid $default;
        transform: scale(1.1);
        // transition: all 0.5s;
    }
}

// <------------- CONTACT ------------->

.contact {
    padding-bottom: 220px;
    &__title {
        font-size: 80px;
        line-height: 100px;
        @extend %playFair-400;
        text-align: center;
        margin-bottom: 25px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-name p {
        font-size: 44px;
        line-height: 55px;
        @extend %inter-400;
        margin-bottom: 10px;
    }
    &__form-name input {
        min-width: 850px;
        border-width: 0;
        border-bottom: 2px solid $accent;
        color: $accent;
        background-color: $default;
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
    &__form-name input::placeholder {
        color: #bbbbbb;
        font-size: 25px;
        line-height: 30px;
    }

    &__form-email p {
        font-size: 44px;
        line-height: 55px;
        @extend %inter-400;
        margin-bottom: 10px;
    }
    &__form-email input {
        min-width: 850px;
        border-width: 0;
        border-bottom: 2px solid $accent;
        color: $accent;
        background-color: $default;
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
    &__form-email input::placeholder {
        color: #bbbbbb;
        font-size: 25px;
        line-height: 30px;
    }

    &__form-text p {
        font-size: 44px;
        line-height: 55px;
        @extend %inter-400;
        margin-bottom: 10px;
    }
    &__form-text textarea {
        min-width: 850px;
        border-width: 0;
        border-bottom: 2px solid $accent;
        color: $accent;
        background-color: $default;
        padding-bottom: 10px;
        margin-bottom: 60px;
        min-height: 350px;
        resize: vertical;
    }
    &__form-text textarea::placeholder {
        color: #bbbbbb;
        font-size: 25px;
        line-height: 30px;
    }

    &__btn {
        width: 190px;
        height: 65px;
        background-color: $accent;
        font-size: 28px;
        @extend %inter-600;
        border: 2px solid transparent;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        left: 150px;
        transition: all 0.5s;
    }
    &__btn:hover {
        color: $accent;
        background-color: $default;
        border: 2px solid $accent;
        // transition: all 0.5s;
        transform: scale(1.1);
    }
}


// <------------- FOOTER ------------->

.footer{
    padding: 75px 0;
    &__title{
        text-align: center;
        font-size: 22px;
        line-height: 26px;
        @extend %inter-700;
        margin-bottom: 25px;
    }
    &__info{
        text-align: center;
        font-size: 22px;
        line-height: 26px;
        @extend %inter-300;
    }
    &__info a{
        color: $accent;
        
    }
    &__info-policy{
        margin-right: 35px;
    }
}

@import "media";
