        </main>
        
        <footer class="footer">
            <div class="container">

                <div class="footer__inner">
                    <p class="footer__title">2022 Company</p>
                    <div class="footer__info">
                        <a class="footer__info-policy" href="#">Privacy Policy</a>
                        <a class="footer__info-terms" href="#">Terms and Conditions</a>
                    </div>
                </div>

            </div>
        </footer>


        <script src="js/main.min.js"></script>

    </div>
</body>

</html>