<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap"
        rel="stylesheet">
    <title>Design</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="header__logo" href="#home">
                        <svg id="Flat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <path
                                d="M128,82a46,46,0,1,0,46,46A46.05239,46.05239,0,0,0,128,82Zm0,80a34,34,0,1,1,34-34A34.03864,34.03864,0,0,1,128,162ZM172,30H84A54.06156,54.06156,0,0,0,30,84v88a54.06156,54.06156,0,0,0,54,54h88a54.06156,54.06156,0,0,0,54-54V84A54.06156,54.06156,0,0,0,172,30Zm42,142a42.04718,42.04718,0,0,1-42,42H84a42.04718,42.04718,0,0,1-42-42V84A42.04718,42.04718,0,0,1,84,42h88a42.04718,42.04718,0,0,1,42,42ZM190,76a10,10,0,1,1-10-10A10.01177,10.01177,0,0,1,190,76Z" />
                        </svg>
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <nav class="header__menu">
                        <ul class="header__menu-list">
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="#home">Home</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="#portfolio">Portfolio</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="#about">About</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="#testimonials">Testimonials</a>
                            </li>
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </header>

        <main class="main">