<section class="portfolio">
    <div class="container">

        <div class="portfolio__inner">
            <h2 class="portfolio__title">Portfolio</h2>
            <div class="portfolio__table">
                <img class="portfolio__table-img" src="../images/portfolio/1.jpg" alt="">
                <img class="portfolio__table-img" src="../images/portfolio/2.jpg" alt="">
                <img class="portfolio__table-img" src="../images/portfolio/3.jpg" alt="">
                <img class="portfolio__table-img" src="../images/portfolio/4.jpg" alt="">
                <img class="portfolio__table-img" src="../images/portfolio/5.jpg" alt="">
                <img class="portfolio__table-img" src="../images/portfolio/6.jpg" alt="">
            </div>
        </div>

    </div>
</section>