<section class="testimonials" id="testimonials">
    <div class="container">

        <div class="testimonials__inner">
            <h2 class="testimonials__title">Testimonials</h2>
            <p class="testimonials__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor
                sit amet, consectetur adipiscing elit. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.</p>
            <div class="testimonials__cards">
                <div class="testimonials__card">
                    <img class="testimonials__card-img" src="../images/testimonials/1.jpg" alt="">
                    <div class="testimonials__card-info">
                        <p class ="testimonials__card-title">“Amazing Team with Lorem Ipsum”</p>
                        <p class="testimonials__card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                            ipsum dolor sit amet,</p>
                        <a class="testimonials__card-link" href="#">See full review
                            <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.0702515 10.5836H30.346M30.346 10.5836L20.6305 0.868164M30.346 10.5836L20.6305 20.299"
                                    stroke="white" stroke-width="2.18959" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="testimonials__card">
                    <img class="testimonials__card-img" style="order: 1;" src="../images/testimonials/2.jpg" alt="">
                    <div class="testimonials__card-info" style="order: 2;">
                        <p class="testimonials__card-title">“Big Dreams for lorem ipsum”</p>
                        <p class="testimonials__card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                            ipsum dolor sit amet,</p>
                        <a class="testimonials__card-link" href="#">See full review
                            <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.0702515 10.5836H30.346M30.346 10.5836L20.6305 0.868164M30.346 10.5836L20.6305 20.299"
                                    stroke="white" stroke-width="2.18959" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="testimonials__card">
                    <img class="testimonials__card-img" src="../images/testimonials/3.jpg" alt="">
                    <div class="testimonials__card-info">
                        <p class="testimonials__card-title">“Good Dreams for lorem ipsum”</p>
                        <p class="testimonials__card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                            ipsum dolor sit amet,</p>
                        <a class="testimonials__card-link" href="#">See full review
                            <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.0702515 10.5836H30.346M30.346 10.5836L20.6305 0.868164M30.346 10.5836L20.6305 20.299"
                                    stroke="white" stroke-width="2.18959" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <button class="testimonials__btn">See All Reviews</button>
        </div>

    </div>
</section>