<section class="portfolio" id="portfolio">
    <div class="container">

        <div class="portfolio__inner">
            <h2 class="portfolio__title">Portfolio</h2>
            <div class="portfolio__table">
                <img class="portfolio__table-img" src="images/portfolio1.jpg" alt="">
                <img class="portfolio__table-img" src="images/portfolio3.jpg" alt="">
                <img class="portfolio__table-img" src="images/portfolio4.jpg" alt="">
                <img class="portfolio__table-img" src="images/portfolio5.jpg" alt="">
                <img class="portfolio__table-img" src="images/portfolio6.jpg" alt="">
                <img class="portfolio__table-img" src="images/portfolio2.jpg" alt="">
            </div>
        </div>

    </div>
</section>